.App {
  text-align: center;
  font-family: 'Hanken Grotesk', sans-serif;

}

.App-header {
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 10px;
  background: #03054d;
  color: white;
  z-index: 10000;
  border-bottom: 3px solid #03054d;
  /* opacity: 90%; */
}


img {
  max-height: 350px;
  border-radius: 3px;
}

.header {
  font-family: 'Francois One', sans-serif;
}

#local-venues {
  font-family: 'Francois One', sans-serif;
  color: #423eb3;
}

#more-info {
  color: #423eb3;
  text-align: center;
}

.nav {
  font-size: 16px;
}

.nav-bar {
  display: flex;
  justify-content: space-around;
  height:20px;
  font-size: 20px;
  font-family: 'Hanken Grotesk', sans-serif;
  align-items: center;
  /* text-shadow: 2px 2px gray !important; */
  margin-bottom: 15px;
}

.nav-home, .nav-events {
  color: white;
}

.link{
  color: black;
  text-decoration: none;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  /* font-family: cursive; */
  font-size: 20px;
}


.footer-container {
  padding-top: 1em;
  /* background-color: white; */
  background: #03054d;
  color: white;
  width: 100%;
  align-items: center;
}

.footer-copyright {
  font-family: 'Francois One', sans-serif;
}

a:link {
  color: white;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: white;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: white;
}

.events {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.event-card {
  border-radius: 4px;
  box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.3);
  margin: 10px;
  padding: 10px;
  height: 700px;
  width: 500px;
}

.event-card img {
  max-width: 400px;
  max-height: 200px;
}

.event-card p {
  padding-left: 5px;
  padding-right: 5px;
}

.events-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.event-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.event-details h2 {
  margin-top: 0px;
  margin-bottom: 0px; 
}

.upcoming-events {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.upcoming-events-card {
  border-radius: 4px;
  box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.3);
  margin: 10px;
  padding: 10px;
  height: 500px;
  width: 600px;
}

.venues-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.venue-card {
  border-radius: 4px;
  box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.3);
  margin: 10px;
  padding: 10px;
  height: 300px;
  width: 300px;
}

.venue-card img {
  max-width: 250px;
}

.venue-events-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 15px;
}

.venue-events-wrapper img {
  height: 80%;
}

.venue-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.venue-details h3 {
  margin-top: 30px;
  padding-top: 10px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.venue-details h5, p {
  padding-bottom: 0px;
  margin-bottom: 0px;
  text-align: left;
}

.venue-description {
  font-size: 18px;
}